.Board {
    background-color: inherit;
    /* margin: 0 auto; */
}

.boardRow {
    background-color: inherit;
    height: 20px;
    width: 601px;
    margin: 0 auto;
}

.boardColumn {
    background-color: rgba(16, 127, 201, 0.7);
    /* background-color: rgba(206, 199, 175, 1.0); */
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 0.03px solid yellowgreen;
    margin: 0px;
    padding: 0px;
}

.snakeBody {
    background-color: rgb(66, 124, 39);
    /* background-color: orange; */
}