body {
    background-color: rgba(20,20,20,0.9);
    color: rgba(225,225,225,0.9);
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.Snake {
    width: 100%;
}

.SnakeHeader {
    margin: 20px auto;
    width: 200px;
}